In [9]:
# https://healthinequality.org/

In [10]:
import pandas as pd

In [11]:
health_est = pd.read_csv(r"/Users/philip.ballentine/Downloads/health_ineq_online_table_11.csv")

Find the data dictionary for the inequality file [here](https://healthinequality.org/dl/health_ineq_online_table_11_readme.pdf)

In [12]:
counties = pd.read_csv(r"/Users/philip.ballentine/Downloads/health_ineq_online_table_12.csv")

Find the data dictionary for the county file [here](https://healthinequality.org/dl/health_ineq_online_table_12_readme.pdf)

In [13]:
a = set(counties.columns)
b = set(health_est.columns)
a.difference_update(b)
counties_cols = list(a)
counties_cols.append('cty')

In [14]:
counties_sub = counties[counties_cols]

In [15]:
health_large = health_est.merge(counties[counties_cols], on="cty")

In [16]:
health_large

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,le_agg_q1_F,...,frac_middleclass,adjmortmeas_pnall30day,unemp_rate,cs_fam_wkidsinglemom,hhinc00,cs00_seg_inc,inc_share_1perc,tax_st_diff_top20,csa,cur_smoke_q2
0,1001,Autauga,43671,11101,Montgomery,367927,Alabama,1,AL,79.775871,...,0.51950,0.150040,0.037379,0.191595,34379.539,0.036455,0.06143,0.0,NaN,0.238095
1,1003,Baldwin,140415,11001,Mobile,599405,Alabama,1,AL,82.847725,...,0.49911,0.115543,0.039112,0.186778,39219.598,0.032571,0.12719,0.0,380.0,0.233503
2,1005,Barbour,29038,10301,Eufaula,61458,Alabama,1,AL,83.149445,...,0.40833,0.125935,0.068132,0.337853,24274.195,0.021680,0.09734,0.0,NaN,0.250000
3,1009,Blount,51024,10700,Birmingham,1038182,Alabama,1,AL,81.088120,...,0.59722,0.162979,0.032847,0.121988,30229.857,0.013379,0.06281,0.0,142.0,0.260870
4,1015,Calhoun,112249,9600,LaGrange,457299,Alabama,1,AL,79.486259,...,0.53681,0.121147,0.050140,0.242177,31739.221,0.053608,0.10314,0.0,NaN,0.240356
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,56021,Laramie,81607,27702,Cheyenne,95526,Wyoming,56,WY,80.849884,...,0.57934,0.120888,0.041276,0.203700,34301.820,0.061653,0.10360,0.0,NaN,0.244410
1555,56025,Natrona,66533,34603,Casper,78585,Wyoming,56,WY,79.617317,...,0.56871,0.135156,0.037732,0.230796,34893.109,0.063811,0.16492,0.0,NaN,0.257286
1556,56029,Park,25786,34301,Cody,37247,Wyoming,56,WY,82.349632,...,0.60396,0.105777,0.042789,0.161613,33356.141,0.021890,0.10727,0.0,NaN,0.182682
1557,56033,Sheridan,26560,34304,Sheridan,46306,Wyoming,56,WY,81.758583,...,0.58885,0.133296,0.040114,0.195645,36156.254,0.011953,0.25473,0.0,NaN,0.178330
1558,56037,Sweetwater,37613,36404,Rock Springs,80730,Wyoming,56,WY,81.354218,...,0.56450,0.118691,0.039632,0.169972,34685.379,0.034795,0.07591,0.0,NaN,0.302658

In [17]:
import os

In [20]:
os.getcwd()

'/Users/philip.ballentine/Documents/hia_255_healthinequality/hia_255_healthinequality'

In [21]:
health_large.to_csv("health_inequality_dataset.csv", index=False)