In [1]:
# https://healthinequality.org/

In [2]:
import pandas as pd

In [3]:
health_est = pd.read_csv(r"/Users/philip.ballentine/Downloads/health_ineq_online_table_11.csv")

Find the data dictionary for the inequality file [here](https://healthinequality.org/dl/health_ineq_online_table_11_readme.pdf)

In [4]:
counties = pd.read_csv(r"/Users/philip.ballentine/Downloads/health_ineq_online_table_12.csv")

Find the data dictionary for the county file [here](https://healthinequality.org/dl/health_ineq_online_table_12_readme.pdf)

In [5]:
a = set(counties.columns)
b = set(health_est.columns)
a.difference_update(b)
counties_cols = list(a)
counties_cols.append('cty')

In [6]:
counties_sub = counties[counties_cols]

In [7]:
health_large = health_est.merge(counties[counties_cols], on="cty")

In [8]:
health_large

,cty,county_name,cty_pop2000,cz,cz_name,cz_pop2000,statename,state_id,stateabbrv,le_agg_q1_F,...,mig_outflow,hhinc00,gradrate_r,cs_fam_wkidsinglemom,mort_30day_hosp_z,taxrate,bmi_obese_q2,csa,bmi_obese_q4,poor_share
0,1001,Autauga,43671,11101,Montgomery,367927,Alabama,1,AL,79.775871,...,0.051018,34379.539,NaN,0.191595,0.799735,0.011183,0.238095,NaN,0.133333,0.109228
1,1003,Baldwin,140415,11001,Mobile,599405,Alabama,1,AL,82.847725,...,0.023537,39219.598,-0.247166,0.186778,-0.113602,0.011756,0.262467,380.0,0.135747,0.101471
2,1005,Barbour,29038,10301,Eufaula,61458,Alabama,1,AL,83.149445,...,0.023073,24274.195,NaN,0.337853,0.552571,0.012059,0.571429,NaN,0.277778,0.267998
3,1009,Blount,51024,10700,Birmingham,1038182,Alabama,1,AL,81.088120,...,0.033572,30229.857,NaN,0.121988,1.781737,0.007012,0.318182,142.0,0.235294,0.117428
4,1015,Calhoun,112249,9600,LaGrange,457299,Alabama,1,AL,79.486259,...,0.021693,31739.221,-0.034474,0.242177,0.005815,0.011815,0.317073,NaN,0.335821,0.161113
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1554,56021,Laramie,81607,27702,Cheyenne,95526,Wyoming,56,WY,80.849884,...,0.030439,34301.820,-0.226124,0.203700,0.470563,0.013905,0.212970,NaN,0.191220,0.090975
1555,56025,Natrona,66533,34603,Casper,78585,Wyoming,56,WY,79.617317,...,0.024544,34893.109,-0.115988,0.230796,-0.122429,0.017725,0.219814,NaN,0.185688,0.118365
1556,56029,Park,25786,34301,Cody,37247,Wyoming,56,WY,82.349632,...,0.020709,33356.141,-0.093242,0.161613,0.388865,0.031789,0.176216,NaN,0.184783,0.127367
1557,56033,Sheridan,26560,34304,Sheridan,46306,Wyoming,56,WY,81.758583,...,0.020256,36156.254,-0.129339,0.195645,2.339630,0.014744,0.202546,NaN,0.206897,0.107487
1558,56037,Sweetwater,37613,36404,Rock Springs,80730,Wyoming,56,WY,81.354218,...,0.026294,34685.379,0.158455,0.169972,-0.090421,0.051011,0.226943,NaN,0.257500,0.077714

In [9]:
import os

In [10]:
os.getcwd()

'/Users/philip.ballentine/Documents/hia_255_demos'

In [11]:
health_large.to_csv("health_inequality_dataset.csv")